.checkBox {
  margin-left: 10px;
}

.searchButton {
  margin-left: 10px;
  display: inline;
}

.search-input-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.full-width {
  width: 94%;
}

